:root {
  --main-font:"Roboto", sans-serif;
  --secondary-font:"Raleway", sans-serif;
  --text-color:#000;
  --main-color: #212121;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --p-text-color: #757575;
  --hero-footer-color: #2f303a;
  --our-team-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --description-color: #a8a8a8;
  --label-background-color: rgba(33, 150, 243, 0.9);
  --button-focus-color: #188ce8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

text {
  color: var(--main-color);
}

body {
  font-family: var(--main-font);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn {
  display: block;
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.logo {
  margin-right: 95px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation), visibility var(--animation);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-close {
  display: block;
  margin: 0 auto;
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--main-color);
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 12px;
  display: block;
  color: var(--p-text-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-label {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color var(--animation);
}

.modal-form-input:hover,
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  cursor: pointer;
  transition: var(--animation);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  transition: border-color var(--animation);
}

.modal-form-message:hover,
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox:checked + .modal-checkbox-label::before {
  background-image: url(../imiges/svg/icon-check.svg);
  border: none;
}

.modal-checkbox:focus + .modal-checkbox-label::before {
  outline: 1px solid var(--accent-color);
}

.modal-checkbox {
  border: 2px solid var(--p-text-color);
}

.modal-checkbox-label {
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--p-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-checkbox-label::before {
  display: block;
  content: '';
  width: 15px;
  height: 14px;
  border: 1px solid var(--p-text-color);
  cursor: pointer;
  border-radius: 2px;
  margin-right: 7px;
}

.modal-label-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin: 0 auto;
  padding: 10px 55px;
  cursor: pointer;
  transition: box-shadow var(--animation), background var(--animation);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background: var(--button-focus-color);
}

.header {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
}

.header-conteiner {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-blue {
  color: var(--accent-color);
}

.menu {
  display: flex;
  align-items: center;
}

.contacts-link {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts + .header-contacts {
  margin-left: 50px;
}

.menu-list {
  display: inline-block;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--main-color);
  position: relative;
  transition: color var(--animation);
}

.menu-link:hover, .menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

/*.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}*/
/*.menu-link.current{
    color: var(--accent-color);
}*/
.mail-link,
.tel-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-text-color);
  transition: color var(--animation);
}

.mail-link:hover, .mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/*.mail-link:hover,
.mail-link:focus{
    color: var(--accent-color);
}
.tel-link:hover,
.tel-link:focus{
    color: var(--accent-color);
}
.mail-link:hover,
.mail-link:focus{
    fill: var(--accent-color);
}
.tel-link:hover,
.tel-link:focus{
    fill: var(--accent-color);
}*/
.icon-contacts {
  margin: 0 10px 0 0;
  fill: currentColor;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: -1px;
  border-radius: 2px;
}

.hero {
  background: var(--hero-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imiges/fontimige/img-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .conteiner {
  width: 694px;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.modal-btn {
  padding-top: 10px 32px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background var(--animation), box-shadow var(--animation);
}

.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}

.icon-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--our-team-color);
  height: 120px;
}

.about-title {
  display: flex;
}

.about:not(:first-child) {
  margin-left: 30px;
}

.content {
  display: block;
  flex-basis: calc((100% - 3 * 30px)/4);
}

.about-main {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.about-main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--p-text-color);
}

.section-work {
  padding-bottom: 94px;
}

.working-moments {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.working-title-list {
  display: flex;
  flex-basis: calc((100% -2*30px)/3);
  position: relative;
}

.working-title-list:not(:first-child) {
  margin-left: 30px;
}

.label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-color);
  height: 70px;
  width: 100%;
  bottom: 0;
}

.team-list {
  display: flex;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-color {
  background-color: var(--our-team-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 3*30px) / 4);
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  padding: 30px;
  background-color: var(--secondary-color);
  text-align: center;
}

.iteam-list {
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.time-position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--p-text-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: currentColor;
  color: var(--description-color);
  transition: background-color var(--animation), fill var(--animation);
}

.social-list-link:hover,
.social-list-link:focus {
  fill: var(--secondary-color);
  background-color: var(--accent-color);
}

.clients-list-item {
  margin-top: 30px;
  margin-left: 30px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 6*30px) / 6);
  margin-top: -30px;
  margin-left: -30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: currentColor;
  color: var(--description-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill var(--animation), border-color var(--animation);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-nav {
  margin-left: 50px;
  margin: auto;
  font-style: inherit;
}

.logo-foot {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-item:not(:first-child) {
  margin-top: 9px;
}

.contacts,
.addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--animation);
}

.addres {
  color: var(--secondary-color);
}

.contacts {
  color: var(--footer-link-color);
}

.addres:hover,
.addres:focus {
  color: var(--secondary-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--secondary-color);
}

.footer-content {
  margin-left: 70px;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 -1px 1px 0, #000000 1px -1px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-list-footer {
  display: flex;
  width: 206px;
  justify-content: space-between;
  margin-top: 20px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-color);
  color: var(--contrast-color);
  transition: background-color var(--animation);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  fill: var(--secondary-color);
  background-color: var(--accent-color);
}

.footer-form {
  margin-left: auto;
}

.footer-form-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer-input {
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.footer-button {
  display: inline-flex;
  align-items: center;
  background: var(--accent-color);
  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  cursor: pointer;
  margin-left: 12px;
  border: none;
  transition: box-shadow var(--animation), background var(--animation);
}

.footer-button:focus,
.footer-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--button-focus-color);
}

.footer-icon {
  fill: var(--secondary-color);
  margin-left: 10px;
}

.menu-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list:not(:first-child) {
  margin-left: 8px;
}

.menu-link.current {
  color: var(--accent-color);
}

.menu-btn {
  font-family: var(--main-font);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var(--our-team-color);
  border-radius: 4px;
  transition: background var(--animation), box-shadow var(--animation), color var(--animation);
}

.menu-btn:hover,
.menu-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--secondary-color);
}

.btn-list.current {
  background: var(--accent-color);
  color: var(--secondary-color);
}

.menu-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-list-link {
  display: block;
  transition: background var(--animation), box-shadow var(--animation);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  background: var(--contrast-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.label-portfolio-text {
  font-size: 18px;
  line-height: 1.56;
  background-color: var(--label-background-color);
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateY(101%);
  transition: transform var(--animation);
  padding: 63px 24px;
}

.portfolio-list-link:hover .label-portfolio-text,
.portfolio-list-link:focus .label-portfolio-text {
  transform: translateY(0%);
}

.menu-item {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.production {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.production-zone {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--p-text-color);
}
/*# sourceMappingURL=main.css.map */