.clients-list-item{
    margin-top: 30px;
    margin-left: 30px;
}
.clients-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 6*30px) / 6);
    margin-top: -30px;
    margin-left: -30px;
}
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    fill: currentColor;
    color: var(--description-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: fill var(--animation), border-color var(--animation);
}
.clients-link:hover,
.clients-link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}