.header{
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--border-color);
}
.header-conteiner{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navigation{
    display: flex;
    align-items: center;
}
.logo-blue{
    color: var(--accent-color)
}

.menu{
    display: flex;
    align-items: center;
}
.contacts-link{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-contacts + .header-contacts{
    margin-left: 50px;
}
.menu-list{
    display:inline-block;
}
.nav-item + .nav-item{
    margin-left: 50px;
}
.menu-link{  
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--main-color);
    position: relative;
    transition: color var(--animation);
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
    &.current{
        color: var(--accent-color);
    }
}
/*.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}*/
/*.menu-link.current{
    color: var(--accent-color);
}*/
.mail-link,
.tel-link{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--p-text-color);
    transition: color var(--animation);
    &:hover,
    &:focus{
        color: var(--accent-color);
        fill: var(--accent-color);
    }
}
/*.mail-link:hover,
.mail-link:focus{
    color: var(--accent-color);
}
.tel-link:hover,
.tel-link:focus{
    color: var(--accent-color);
}
.mail-link:hover,
.mail-link:focus{
    fill: var(--accent-color);
}
.tel-link:hover,
.tel-link:focus{
    fill: var(--accent-color);
}*/
.icon-contacts{
    margin: 0 10px 0 0;
    fill: currentColor;
}
.current::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    bottom: -1px;
    border-radius: 2px;
}