
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.logo-blue{
    color: var(--accent-color)
}
.logo-head {
    padding-bottom: 25px;
    padding-top: 24px;
    color: var (--text-color);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.logo-foot {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-style: 700;
    font-size: 24px;
    line-height: 1.16;
}
// @media screen and (min-width: 768px) {
//     .logo {
//         margin-right: 50px;
//     }
// }
@media screen and (min-width: 1200px) {
    
}